body {
    background-color: #008000;
    color: #111;
    font-family: "Times New Roman", serif;
    margin: 40px;
}

h1 {
    font-size: 46px;
    letter-spacing: 2px;
    color: bisque;
    font-family: "Georgia", serif;
    text-align: center;
    border: solid;
    border-color: snow;
}

h2 {
    font-size: 44px;
    letter-spacing: 2px;
    color: aliceblue;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    border: dashed;
    border-color: fuchsia;
}

h3 {
    font-size: 42px;
    letter-spacing: 2px;
    color: pink;
    font-family: cursive;
    text-align: center;
    border: dotted;
    border-color: cyan;
}

h4 {
    font-size: 40px;
    letter-spacing: 2px;
    color: beige;
    font-family: monospace;
    text-align: center;
    border: double;
    border-color: coral;
}

h5 {
    font-size: 38px;
    letter-spacing: 2px;
    color: navajowhite;
    font-family: "Neuropol", monospace;
    text-align: center;
    border: ridge;
    border-color: violet;
}

h6 {
    font-size: 20px;
    letter-spacing: 1px;
    color: navy;
    font-family: "Allan";
    text-align: center;
    border: groove;
    border-color: wheat;
}

a {
    color: yellowgreen;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

a:hover {
    color: pink;
    text-decoration: underline;
    text-align: center;
}

p {
    color: aquamarine;
    font-size: 23px;
    font-family: "Tahoma", sans-serif;
    text-align: center;
}

.nav {
    margin: 4px;
    text-align: center;
    color: black;
    text-decoration: none;
    justify-content: center;
    font-size: 20px;

    /* Hier können die Styles für die Liste geändert werden (Standardmäßig ist "Circle" aktiviert): */
    /* list-style: armenian; */
    /* list-style: circle; */
    /* list-style: decimal; */
    list-style: disc;
    /* list-style: georgian; */
    /* list-style: inside; */
    /* list-style: lower-alpha; */
    /* list-style: lower-greek; */
    /* list-style: lower-latin; */
    /* list-style: lower-roman; */
    /* list-style: square; */
}
